body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.container-lg {
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-side {
    margin-left: calc(50% - 591px);
}

.header {
    background: var(--light-black, #1A1A1A);
    height: 88px;
    transition: 0.4s;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.header_active {
    background: var(--white, #FFF);
    height: 530px;
}

.header_active .header-logo, .header_active .header-nav-item {
    color: #1A1A1A;
}

.header-content {
    display: flex;
    align-items: center;
    height: 88px;
}

.header-menu-btn {
    display: none;
}

.header-logo {
    color: var(--dirty-white, #F7F7F7);
    font-family: Cormorant Unicase;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.header-nav {
    margin-left: 60px;
    transition: 0.2s;
}

.header-nav-item {
    color: var(--dirty-white, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin-right: 60px;
    cursor: pointer;
    position: relative;
}

.header-nav-item::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.header-nav-item:hover::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.header_active .header-nav-item::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.header_active .header-nav-item:hover::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-item_shop {
    position: relative;
}

.header-nav-item_shop::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.header_active .header-nav-item_shop:hover::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.header_active .header-nav-item_shop_active::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.header-add {
    display: flex;
    gap: 24px;
    margin-left: 84px;
}

.header-add-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-size: cover;
    display: flex;
    cursor: pointer;
}

.header-add-link_search {
    background-image: url(../img/header/search.svg);
    transition: 0.3s;
}

.header_active .header-add-link_search {
    background-image: url(../img/header/search_active.svg);
}

.header-add-link_search_open {
    position: relative;
    /* right: -64px; */
    background-image: url(../img/header/close.svg);
}

.header-add-link_search-block {
    position: relative;
}

.header-add-link_search-form {
    position: absolute;
    right: 64px;
    top: -5px;
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}

.header-add-link_search-input {
    display: flex;
    width: 100%;
    height: var(--input-size-size-input, 50px);
    padding: var(--input-size-height-1, 12px) var(--input-size-widht, 16px) var(--input-size-height-2, 14px) var(--input-size-widht, 16px);
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 0;
    align-items: flex-start;
    box-sizing: border-box;   
    color: #fff;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    border-bottom: 1px solid #fff;
}

.header-add-link_search-input::placeholder {
    color: #fff;
}

.header-add-link_search_open ~ .header-add-link_search-form {
    width: 384px;
    display: block;
    opacity: 1;
}

.header-add-link_search-submit {
    width: 24px;
    height: 24px;
    background-image: url(../img/header/icons.svg);
    background-size: cover;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 16px;
    top: 12px;
    cursor: pointer;
}

.header-add-link_search-input:focus {
    outline: 0;
}

.header-add-link_cart {
    background-image: url(../img/header/cart.svg);
}

.header_active .header-add-link_cart {
    background-image: url(../img/header/cart_active.svg);
}

.header-add-link_fav {
    background-image: url(../img/header/fav.svg);
}

.header_active .header-add-link_fav {
    background-image: url(../img/header/fav_active.svg);
}

.header-add-link_account {
    background-image: url(../img/header/account.svg);
}

.header_active .header-add-link_account {
    background-image: url(../img/header/account_active.svg);
}

.header-menu {
    width: 100%;
    /* height: 432px; */
    /* padding-left: 436px; */
    box-sizing: border-box;
    height: 0;
}

.header-menu_active {
    height: 432px;
}

.header-menu-content {
    gap: 62px;
    margin-top: 18px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    padding-left: 218px;
    padding-right: 220px;
    column-count: 4;
    column-gap: 62px;
}

.header_active .header-menu-content {
    height: auto;
    overflow: hidden;
    opacity: 1;
    transition: 1s;
}

.header-menu-col {
    max-width: 136px;
    width: 100%;
}

.header-menu-block {
    margin-bottom: 20px;
    page-break-inside: avoid;
    break-inside: avoid;
}

.header-menu-block_single {
    margin-bottom: 52px;
}

.header-menu-block_hidden {
    height: 30px;
    display: flex;
}

.header-menu-block-title {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    border-bottom: 0.5px solid #CBCBCB;
    display: flex;
    width: 100%;
}

.header-menu-block-list {
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-menu-block-list_slide {
    height: 145px;
    overflow-y: scroll;
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    margin-right: -22px;
}

.header-menu-block-list_slide::-webkit-scrollbar {
    width: 4px;
    background-color: #EFEFEF;
    height: 138px;
    margin-left: 30px;
}

.header-menu-block-list_slide::-webkit-scrollbar-thumb {
    background: #1A1A1A;
}

.header-menu-block-list-item {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.header-menu-block-list_slide .header-menu-block-list-item:last-child {
    margin-bottom: 10px;
}

.header-menu-add {
    display: none;
}

.header-banner {
    /* background-image: url(../img/header-banner/bg.png); */
    padding-top: 88px;
    position: relative;
}

.header-banner-content {
    height: 600px;
}

.header-banner-slider-btn {
    width: 50px;
    height: 50px;
    background-image: url(../img/header-banner/left.png);
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 42%;
    cursor: pointer;
}

.header-banner-slider-btn_next {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}

.header-banner-bg {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.header-banner-title {
    color: var(--dirty-white, #F7F7F7);
    font-family: Forum;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
    margin: 0;
    padding-top: 228px;
    margin-bottom: 36px;
    margin-left: 100px;
    max-width: 340px;
}

.header-banner-btn {
    color: #F7F7F7;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    display: inline-flex;
    padding: var(--btns-size-height-1, 12px) var(--btns-size-width, 48px) var(--btns-size-height-2, 14px) var(--btns-size-width, 48px);
    justify-content: center;
    align-items: center;
    background: var(--btns-color-primary-bg-normal, #1A1A1A);
    display: flex;
    width: fit-content;
    align-items: center;
    transition: 0.2s;
}

.header-banner-btn:hover {
    background: var(--btns-color-primary-bg-hover, #373737);
}

.header-banner-btn::after {
    content: '';
    width: 40px;
    height: 8px;
    background-image: url(../img/header-banner/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin-left: 12px;
}

.exhibition-line {
    font-family: Oswald;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 60% */
    letter-spacing: 64.8px;
    text-transform: uppercase;
    padding-top: 65px;
    padding-bottom: 65px;
    position: absolute;
    top: -229px;
}

.collection {
    margin-top: 120px;
    margin-bottom: 208px;
    position: relative;
}

.collection-title {
    color: var(--light-black, #1A1A1A);
    font-family: Forum;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
    text-transform: uppercase;
    margin: 0;
    padding-left: 100px;
}

.collection-slider {
    margin-top: 48px;
    display: flex;
    overflow-x: clip;
}

.collection .slick-track {
    gap: 40px;
    display: flex !important;
}

.collection-slider-item {
    /* max-width: 480px; */
    width: 100%;
}

.collection-slider-item-link {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--light-black, #1A1A1A);
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.collection-slider-item-link::after {
    content: '';
    width: 40px;
    height: 24px;
    background-image: url(../img/collection/link.svg);
    background-size: contain;
    margin-left: 12px;
    display: flex;
}

.collection-slider-item-img-block {
    width: 100%;
    overflow: hidden;
}

.collection-slider-item-img {
    width: 100%;
    transition: 0.4s;
}

.collection-slider-item-img:hover {
    transform: scale(1.1);
    max-width: 100%;
}

.collection-slider-item-desc {
    margin-top: 12px;
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.collection-slider-nav {
    position: relative;
    display: flex;
    justify-content: center;
}

.collection__arrow_dir_left {
    width: 28px;
    height: 7px;
    background-image: url(../img/collection/slider_arrow.svg);
    background-size: cover;
    transform: rotate(180deg);
    margin-top: 5px;
    cursor: pointer;
}

.collection__arrow_dir_right {
    width: 28px;
    height: 7px;
    background-image: url(../img/collection/slider_arrow.svg);
    margin-top: 5px;
    background-size: cover;
    cursor: pointer;
}

.collection__arrows {
    display: flex;
    align-items: center;
}

.slick-dots {
    max-width: 150px;
    width: 100%;
    position: relative ;
    bottom: 0;
}

.slick-dots li {
    width: 18px ;
    height: 18px;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.slick-dots li button:before {
    content: '';
    display: flex;
    opacity: 1;
    background: var(--light-gray, #EFEFEF);
    width: 18px;
    height: 18px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background: var(--light-black, #1A1A1A);
}

.collection-desc {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 84px;
    position: relative;
    gap: 36px;
}

.collection-desc::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../img/collection/mark-left.svg);
    position: absolute;
    left: -100px;
    top: -36px;
    background-size: cover;
}

.collection-desc::after {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../img/collection/mark-right.svg);
    position: absolute;
    right: -100px;
    bottom: -36px;
    background-size: cover;
}

.collection-desc-p {
    color: var(--light-black, #1A1A1A);
    text-align: center;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    margin: 0;
}

.collection-line {
    font-family: Oswald;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 60% */
    letter-spacing: 64.8px;
    text-transform: uppercase;
    padding-top: 65px;
    padding-bottom: 65px;
    position: absolute;
    bottom: -220px;
}

.collection-slider .slick-track {
    margin-left: calc(50% - 591px);
    gap: 40px;
    display: flex !important;
}

.collection-slider .slick-slide {
    height: 412px;
    width: 480px;
}

.have {
    background: var(--light-black, #1A1A1A);
    height: 36vw;
}

.have-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.have-block {
    /* padding-top: 100px; */
    margin-top: auto;
    margin-bottom: auto;
    max-width: 680px;
    width: 100%;
    /* height: 438px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.have-title {
    color: var(--dirty-white, #F7F7F7);
    font-family: Forum;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
    text-transform: uppercase;
    margin: 0;
    padding-left: 100px;
}

.have-desc {
    margin-top: 36px;
}

.have-desc-p {
    margin-bottom: 24px;
    color: var(--dirty-white, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.have-gall {
    display: flex;
    gap: 20px;
    height: fit-content;
    width: 42vw;
    min-width: 50vw;
    height: 100%;
}

.have-gall-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.element-animation {
    opacity: 0;
    transform: translateY(20px);
}
  
.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

.have-gall-col-block1 {
    /* max-width: 180px; */
    width: 100%;
    /* height: 148px; */
    height: 35.5%;
}

.have-gall-col-block2 {
    /* max-width: 180px; */
    width: 100%;
    /* height: 270px; */
    height: 62%;
}

.have-gall-col-block3 {
    /* max-width: 180px; */
    width: 100%;
    height: 60%;
    /* height: 264px; */
    transform: translateY(160px);
}

.have-gall-col-block4 {
    /* max-width: 180px; */
    width: 100%;
    /* height: 154px; */
    transform: translateY(150px);
    height: 36%;
}

.have-gall-col-block5 {
    /* max-width: 210px; */
    width: 100%;
    /* height: 168px; */
    transform: translateY(130px);
    height: 38%;
}

.have-gall-col-block6 {
    /* max-width: 210px; */
    width: 100%;
    /* height: 132px; */
    height: 30%;
}

.have-gall-col-block7 {
    /* max-width: 210px; */
    width: 100%;
    /* height: 98px; */
    transform: translateY(220px);
    height: 22.7%;
}

.have-gall-col-block-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media {
    margin-top: 120px;
}

.media-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-title {
    color: var(--light-black, #1A1A1A);
    font-family: Forum;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
    text-transform: uppercase;
    margin: 0;
    padding-left: 100px;
}

.media-head-link {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    display: flex;
    align-items: center;
    position: relative;
}

.media-head-link::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.media-head-link:hover::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #1A1A1A;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.media-head-link::after {
    content: '';
    width: 40px;
    height: 10px;
    background-image: url(../img/media/arrow.svg);
    display: flex;
    margin-left: 12px;
    background-size: cover;
}

.media-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 40px; */
}

.media-slider-nav {
    position: relative;
    display: flex;
    justify-content: center;
}

.media__arrow_dir_left {
    width: 28px;
    height: 7px;
    background-image: url(../img/collection/slider_arrow.svg);
    background-size: cover;
    transform: rotate(180deg);
    margin-top: 5px;
    cursor: pointer;
}

.media__arrow_dir_right {
    width: 28px;
    height: 7px;
    background-image: url(../img/collection/slider_arrow.svg);
    margin-top: 5px;
    background-size: cover;
    cursor: pointer;
}

.media__arrows {
    display: flex;
    align-items: center;
}

.media-card {
    max-width: calc(33% - 24px);
    width: 100%;
    margin-top: 48px;
}

.media-card-img-block {
    width: 100%;
    margin-bottom: 16px;
    overflow: hidden;
}

.media-card-img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.media-card-img:hover {
    transform: scale(1.1);
}

.media-card-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12.5px;
}

.media-card-info-date, .media-card-info-time {
    color: var(--secondary-gray, #B8B8B8);
    font-family: Cormorant;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    display: flex;
    align-items: center;
    gap: 4px;
}

.media-card-title {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    margin-bottom: 12px;
}

.media-card-text {
    color: var(--light-black, #1A1A1A);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Cormorant;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 12px;
    line-height: 18px; /* 112.5% */
    /* word-break: break-all; */
}

.gall {
    background: var(--light-black, #1A1A1A);
    padding-top: 120px;
    margin-top: 120px;
}

.gall-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gall-title {
    color: var(--light-black, #F7F7F7);
    font-family: Forum;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
    text-transform: uppercase;
    margin: 0;
    padding-left: 100px;
}

.gall-head-link {
    color: var(--light-black, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    display: flex;
    align-items: center;
    position: relative;
}

.gall-head-link::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.gall-head-link:hover::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.gall-head-link::after {
    content: '';
    width: 40px;
    height: 10px;
    background-image: url(../img/gall/arrow.svg);
    display: flex;
    margin-left: 12px;
    background-size: cover;
}

.gall-row {
    margin-top: 48px;
    gap: 20px;   
    position: relative;
    display: grid;
    grid-template-columns: 480px 380px 280px;
    grid-auto-flow: dense;
    grid-auto-rows: 100px;
}

.gall-col-block {
    width: 100%;
    position: relative;
    transition-property: transform,opacity;
    transition-duration: .6s;
    transform: translateY(30px);
    opacity: 0;
    grid-row-end: span 5;
}

.Masonry_horizontal {
    grid-row-end: span 3;
}

.Masonry_vertical {
    grid-row-end: span 5;
}

.gall-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.element-animation {
    overflow: hidden;
    display: flex;
}

.gall-col-block-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.gall-col-block-img:hover {
    transform: scale(1.1);
}

/* .gall-col-block {
    align-self: flex-end;
} */

.gall-col-block1 {
    max-width: 480px;
    width: 100%;
    overflow: hidden;
}

.gall-col-block2 {
    max-width: 480px;
    width: 100%;
    transform: translateY(280px);
}

.gall-col-block3 {
    max-width: 480px;
    width: 100%;
    transform: translateY(200px);
}

.gall-col-block4 {
    max-width: 380px;
    width: 100%;
    transform: translateY(280px);
}

.gall-col-block5 {
    max-width: 380px;
    width: 100%;
    transform: translateY(200px);
}

.gall-col-block6 {
    max-width: 380px;
    width: 100%;
    

}

.gall-col-block7 {
    max-width: 280px;
    width: 100%;
    transform: translateY(300px);
}

.gall-col-block8 {
    max-width: 280px;
    width: 100%;
    transform: translateY(300px);
}

.gall-col-block9 {
    max-width: 280px;
    width: 100%;
    transform: translateY(300px);
}

.inst {
    padding-top: 120px;
    padding-bottom: 120px;
}

.inst-slider {
    display: flex;
    gap: 20px;
    margin-top: 48px;
}

.inst-slider-item {
    max-width: 380px;
    /* width: 380px !important; */
    width: 100%;
    height: 400px;
}

.inst-slider-item:first-child {
    display: none;
}

/* .inst-slider-item:last-child {
    margin-right: calc(158% - 591px);
} */

.inst-slider-item-qr {
    border: 1px solid #000;
    background: var(--white, #FFF);
    padding: 67px 90px;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.inst-slider-item-qr-img-block {
    width: 100%;
}

.inst-slider-item-qr-img {
    width: 100%;
}

.inst-slider-item-qr-name {
    color: #000;
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
}

.inst-slider-item-img {
    width: 100%;
}

.inst-slider-nav {
    position: relative;
    display: flex;
    justify-content: center;
}

.inst__arrow_dir_left {
    width: 28px;
    height: 7px;
    background-image: url(../img/collection/slider_arrow.svg);
    background-size: cover;
    transform: rotate(180deg);
    margin-top: 5px;
    cursor: pointer;
}

.inst__arrow_dir_right {
    width: 28px;
    height: 7px;
    background-image: url(../img/collection/slider_arrow.svg);
    margin-top: 5px;
    background-size: cover;
    cursor: pointer;
}

.inst__arrows {
    display: flex;
    align-items: center;
}

.inst-slider .slick-track {
    margin-left: calc(50% - 591px);
    gap: 40px;
    display: flex !important;
}

.inst-slider .slick-slide {
    height: 400px;
    width: 380px;
}

/* .inst-slider .slick-slide {
    width: 380px !important;
    height: 400px;
} */

.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background: var(--light-black, #1A1A1A);
}

.footer-row {
    display: flex;
    /* justify-content: space-between; */
    /* padding-right: 54px; */
    margin-bottom: 86px;
}

.footer-logo {
    max-width: 180px;
    width: 100%;
    height: 180px;
    margin-right: 98px;
}

.footer-logo-img {
    width: 100%;
}

.footer-cnt {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.footer-block {
    margin-right: 170px;
}

.footer-block:nth-child(1) {
    max-width: 190px;
    width: 100%;
}

.footer-block:nth-child(2) {
    max-width: 202px;
    width: 100%;
}

.footer-block:nth-child(3) {
    max-width: 116px;
    width: 100%;
    margin-right: 0;
}

.footer-block-title {
    color: var(--dirty-white, #F7F7F7);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
}

.footer-block-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-block-list-item {
    color: var(--dirty-white, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 122.222% */
}

.footer-sub {
    display: flex;
    /* justify-content: space-between; */
}

.footer-search {
    max-width: 463px;
    width: 100%;
    position: relative;
    margin-right: 180px;
}

.footer-search-desc {
    color: var(--dirty-white, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    position: absolute;
    left: 0;
    top: -33px;
}

.footer-search-input {
    border: 1px solid var(--dirty-white, #F7F7F7);
    background: var(--dirty-white, #F7F7F7);
    padding: 12px 16px;
    width: 100%;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    color: #1A1A1A;
    box-sizing: border-box;
}

.footer-search-input:focus {
    outline: 0;
    border: 1px solid var(--dirty-white, #F7F7F7);
}

.footer-search-input::placeholder {
    color: var(--secondary-gray, #B8B8B8);
}

.footer-search-submit {
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 46px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    background: var(--light-black, #1A1A1A);
}

.footer-search-submit svg {
    padding-top: 9px;
}

.footer-soc-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-soc {
    display: flex;
    gap: 24px;
}

.footer-soc-link {
    width: 40px;
    height: 40px;
}

.footer-soc-link-img {
    width: 100%;
}

.footer-copy {
    color: #F7F7F7;
    font-family: Cormorant;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.footer-copy-img {
    display: none;
}

.footer-copy-a {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.catalog {
    margin-bottom: 148px;
    padding-top: 148px;
}

.catalog-head-crumbs {
    padding-left: 100px;
    display: flex;
    margin-bottom: 16px;
}

.catalog-head-crumbs-link {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}

.catalog-head-crumbs-link:first-child::before {
    display: none;
}

.catalog-head-crumbs-link:last-child {
    color: var(--dark-grey, #CBCBCB);
}

.catalog-head-crumbs-link::before {
    content: '/';
    margin-left: 8px;
    margin-right: 8px;
}

.catalog-content {
    margin-top: 48px;
}

.catalog-content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}

.catalog-item {
    max-width: 380px;
    width: 100%;
    margin-bottom: 40px;
}

.pop_hidden {
    display: none;
}

.pop_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(26, 26, 26, 0.60);
}

.pop {
    position: fixed;
    border: 1px solid var(--light-black, #1A1A1A);
    background: var(--white, #FFF);
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
}

.pop-block {
    box-sizing: border-box;
    padding: 48px;
}

.pop-block_enter {
    width: 476px;
}

.pop-block_forgot {
    width: 476px;
}

.pop-block_sub {
    width: 476px;
}

.pop-block_thanks {
    width: 517px;
}

.pop_close-btn {
    width: 40px;
    height: 40px;
    background-image: url(../img/pop/close.svg);
    background-size: cover;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.pop-block-title {
    color: #000;
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.pop-block-text {
    color: var(--light-black, #1A1A1A);
    text-align: center;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin-top: 24px;
}

.pop-block-form {
    margin-top: 8px;
}

.pop-block-input {
    width: 100%;
    height: 50px;
    padding: 12px 16px 14px 16px;
    box-sizing: border-box;
    border: 0;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--light-black, #1A1A1A);
    border-bottom: 1px solid var(--dark-grey, #CBCBCB);
    transition: 0.3s;
}

.pop-block-input:not(:placeholder-shown) {
    border-bottom: 1px solid var(--light-black, #1A1A1A);
    color: var(--light-black, #1A1A1A);
 }

.pop-block-input:focus {
    border-bottom: 1px solid var(--light-black, #1A1A1A);
    outline: 0;
}

.pop-block-input::placeholder {
    color: var(--secondary-gray, #B8B8B8);
}

.pop-block-pass-block {
    position: relative;
}

.pop-block-pass-btn {
    position: absolute;
    right: 14px;
    top: 12px;
    background-image: url(../img/pop/pass_hide.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.pop-block-add {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-block-add_sub {
    margin-top: 16px;
}

.pop-block-add-remember {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.pop-block-add-remember_long {
    align-items: flex-start;
}

.pop-block-add-remember-check {
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin: 0;
}

.pop-block-add-remember-check::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../img/pop/checkbox_empry.svg);
    background-size: cover;
    display: flex;
    transition: 0.3s;
}

.pop-block-add-remember-check:checked::before {
    background-image: url(../img/pop/checkbox_ch.svg);
}

.pop-block-add-forgot {
    color: var(--txt-gray, #AAA);
    font-family: Cormorant;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    cursor: pointer;
    transition: 0.3s
}

.pop-block-add-forgot:hover {
    color: #1A1A1A;
}

.pop-block-submit {
    width: 100%;
    height: 48px;
    background: var(--btns-color-primary-bg-normal, #1A1A1A);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--btns-color-primary-txt-primary, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    border: 0;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    border: 1px solid var(--btns-color-secondary-stroke-normal-active, #1A1A1A);
}

.pop-block-submit:hover {
    background: var(--btns-color-secondary-bg-normal-hover-disable, #FFF);
    color: var(--btns-color-secondary-txt-secondary, #1A1A1A);
}

.pop-block-reg-btn {
    margin-top: 16px;
    border: 1px solid var(--btns-color-secondary-stroke-normal-active, #1A1A1A);
    background: var(--btns-color-secondary-bg-normal-hover-disable, #FFF);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    cursor: pointer;
    color: var(--btns-color-secondary-txt-secondary, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    transition: 0.3s;
}

.pop-block-reg-btn:hover {
    color: var(--btns-color-primary-txt-primary, #F7F7F7);
    background: var(--btns-color-primary-bg-normal, #1A1A1A);
}

.pop-block_reg {
    width: 476px;
}

.reg-block-submit {
    width: 100%;
    height: 48px;
    background: var(--btns-color-primary-bg-normal, #1A1A1A);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--btns-color-primary-txt-primary, #F7F7F7);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    border: 0;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    border: 1px solid var(--btns-color-secondary-stroke-normal-active, #1A1A1A);
}

.reg-block-submit:hover {
    background: var(--btns-color-secondary-bg-normal-hover-disable, #FFF);
    color: var(--btns-color-secondary-txt-secondary, #1A1A1A);
}

.reg-block-reg-btn {
    margin-top: 8px;
    border: 1px solid var(--btns-color-secondary-stroke-normal-active, #1A1A1A);
    background: var(--btns-color-secondary-bg-normal-hover-disable, #FFF);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    cursor: pointer;
    color: var(--btns-color-secondary-txt-secondary, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    transition: 0.3s;
}

.reg-block-reg-btn:hover {
    color: var(--btns-color-primary-txt-primary, #F7F7F7);
    background: var(--btns-color-primary-bg-normal, #1A1A1A);
}

.pop-block_thanks-title {
    color: #000;
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    text-align: center;
}

.pop-block_thanks-text {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 122.222% */
    padding: 16px 0;
    border-top: 1px solid var(--dark-grey, #CBCBCB);
    border-bottom: 1px solid var(--dark-grey, #CBCBCB);
    margin-top: 24px;
}

.pop-block_thanks-order {
    margin-top: 24px;
    margin-bottom: 24px;
}

.pop-block_thanks-order-item {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-grey, #CBCBCB);
}

.pop-block_thanks-order-item-img-block {
    max-width: 80px;
    width: 100%;
    height: 80px;
}

.pop-block_thanks-order-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-block_thanks-order-item-name {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin-left: 16px;
    max-width: 143px;
    width: 100%;
}

.pop-block_thanks-order-item-price {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin-left: auto;
    white-space: nowrap;
}

.pop-block_thanks-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.pop-block_thanks-time-title {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.pop-block_thanks-time-day {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
}

.pop-block_thanks-sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-block_thanks-sum-title {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.pop-block_thanks-sum-num {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
}

.catalog-filter {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 20px;
}

.catalog-filter-row {
    max-width: 880px;
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.catalog-filter-item {
    max-width: 241px;
    width: 100%;
}

.catalog-filter-content {
    max-height: 160px;
    height: 100%;
    padding: 16px;
    padding-top: 0;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.catalog-filter-content::-webkit-scrollbar {
    width: 2px;
    height: 100%;
    background-color: #EFEFEF;
}

.catalog-filter-content::-webkit-scrollbar-thumb {
    background: #1A1A1A;
}

.catalog-filter-title {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    padding: 12px 16px 14px 16px;
    border-bottom: 1px solid var(--dark-grey, #CBCBCB);
    display: flex;
}

.catalog-filter-label {
    display: flex;
    align-items: flex-end;
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.catalog-filter-input_radio {
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 8px;
}

.catalog-filter-input_radio::before {
    content: '';
    min-width: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../img/catalog_sub/radio.svg);
    background-size: cover;
    display: flex;
    transition: 0.3s;
}

.catalog-filter-input_radio:checked::before {
    background-image: url(../img/catalog_sub/radio_active.svg);
}

.catalog-filter-input_check {
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 8px;
}

.catalog-filter-input_check::before {
    content: '';
    min-width: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../img/catalog_sub/checkbox.svg);
    background-size: cover;
    display: flex;
    transition: 0.3s;
}

.catalog-filter-input_check:checked::before {
    background-image: url(../img/catalog_sub/checkbox_active.svg);
}

.catalog-filter-reset {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    cursor: pointer;
    border: 0;
    background: none;
    border-bottom: 1px solid var(--dark-grey, #CBCBCB);
}

.catalog_sub {
    padding-left: 0;
    padding-right: 0;
}

.catalog_sub-row {
    display: flex !important;
    flex-wrap: wrap;
    border-bottom: 1px solid #CBCBCB;
}

.catalog_sub-item {
    max-width: calc(100% / 3);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
}

.catalog_sub-item:nth-child(3n) {
    border-right: 0;
}

.catalog_sub-item-img-block {
    max-width: 100%;
    width: 100%;
    height: 20vw;
    position: relative;
    overflow: hidden;
}

.catalog_sub-item:nth-child(2) .catalog_sub-item-img-block {
    background-color: #fff;
    display: flex;
    align-items: center;
}

.catalog_sub-item:nth-child(2) .catalog_sub-item-img{
    height: fit-content;
}

.catalog_sub-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.catalog_sub-item-img:hover {
    transform: scale(1.1);
}

.catalog_sub-item-chip {
    position: absolute;
    left: 12px;
    top: 12px;
    display: flex;
    gap: 8px;
}

.catalog_sub-item-chip-item {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    border: 1px solid var(--light-black, #1A1A1A);
    background: var(--white, #FFF);
    padding: 4px 8px;
}

.catalog_sub-item-title {
    margin-top: 12px;
    color: var(--light-black, #1A1A1A);
    text-overflow: ellipsis;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    padding: 0 12px;
    display: flex;
}

.catalog_sub-item-add {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.catalog_sub-item-add-price {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
    margin-right: auto;
}

.catalog_sub-item-add-fav {
    width: 40px;
    height: 40px;
    display: flex;
    background-image: url(../img/catalog_sub/fav.svg);
    transition: 0.3s;
}

.catalog_sub-item-add-fav:hover {
    background-image: url(../img/catalog_sub/fav_active.svg);
}

.catalog_sub-item-add-fav_active {
    background-image: url(../img/catalog_sub/fav_active.svg);
}

.catalog_sub-item-add-cart {
    width: 40px;
    height: 40px;
    display: flex;
    background-image: url(../img/catalog_sub/cart.svg);
    transition: 0.3s;
}

.catalog_sub-item-add-cart:hover {
    background-image: url(../img/catalog_sub/cart_active.svg);
}

.catalog_sub-item-add-cart_active {
    background-image: url(../img/catalog_sub/cart_active.svg);
}

.catalog_collection {
    position: relative;
    margin-top: 48px;
    margin-bottom: 120px;
}

.catalog_collection-text {
    max-width: 680px;
}

.catalog_collection-title {
    margin: 0;
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-left: 100px;
}

.catalog_collection-p {
    margin-bottom: 16px;
    color: #1A1A1A;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.catalog_collection-img-block {
    position: absolute;
    right: 0;
    top: -130px;
}

.catalog_collection_h2 {
    padding-left: 100px;
    margin-bottom: 48px;
}

.card {
    padding-top: 148px;
}

.card-slider-head {
    display: none;
}

.card-slider-mob {
    display: none;
}

.card-slider-block {
    margin-bottom: 96px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.card-slider-content {
    max-width: 680px;
    width: 100%;
    display: flex;
}

.card-slider-vert {
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: space-between;
    /* gap: 20px; */
    margin-right: 20px;
}
.card-slider-vert .slick-list {
    height: 100% !important;
}

.card-slider-vert .slick-track {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-slider-vert .slick-track:after, .slick-track:before {
    display: none;
}

.card-slider-vert .slick-active {
    width: 80px !important;
    height: 80px;
    border: 0;
}

.card-slider-vert .slick-active div {
    height: 80px;
}

.card-slider-vert-item {
    width: 80px !important;
    height: 80px;
}

.card-slider-vert .slick-current {
    border: 1px solid var(--light-black, #1A1A1A);
    box-sizing: border-box;
    /* width: auto; */
    /* height: auto; */
    /* padding: 6px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-slider-vert-item {
    transition: 0.1s;
}

.card-slider-content .slick-dotted.slick-slider {
    margin-bottom: 24px;
}

.card-slider-vert .slick-current .card-slider-vert-item {
    width: 68px !important;
    height: 68px !important;
}

.card-slider-vert .slick-current div {
    height: 68px;
}

.card-slider-hor {
    width: 580px;
    height: 481px;
}

.card-slider-hor-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-slider-hor-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    max-width: 680px;
}

.card-info-title {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}

.card-info-nav {
    display: flex;
    gap: 96px;
    margin-bottom: 24px;
}

.card-info-nav-item {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}

.card-info-nav-item_active {
    border-bottom: 1px solid var(--light-black, #1A1A1A);
}

.card-info-block-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    display: none;
    opacity: 0;
    transition: 0.3s;
}

.card-info-block-item_active {
    display: flex;
    opacity: 1;
}

.card-info-block-p {
    color: #1A1A1A;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin: 0;
    padding: 0;
}

.card-slider-desc {
    max-width: 448px;
    width: 100%;
    position: relative;
}

.card-slider-title {
    color: var(--light-black, #1A1A1A);
    font-family: Forum;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
    text-transform: uppercase;
    max-width: 333px;
    margin-bottom: 24px;
}

.card-slider-ac {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    border: 1px solid var(--black, #000);
    background: var(--white, #FFF);
    padding: 4px 8px;
    width: fit-content;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.card-slider-price {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 121.429% */
    margin-bottom: 24px;
}

.card-slider-mat {
    color: var(--txt-gray, #AAA);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    margin-bottom: 8px;
}

.card-slider-size {
    color: var(--txt-gray, #AAA);
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.card-slider-text {
    margin-top: 24px;
    color: #1A1A1A;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.card-slider-sub {
    display: flex;
    gap: 16px;
    padding-top: 32px;
    border-top: 1px solid #EFEFEF;
    margin-top: 32px;
}

.card-slider-count-block {
    display: flex;
    gap: 6px;
    align-items: center;
}

.card-slider-count-less {
    width: 24px;
    height: 24px;
    display: flex;
    background-image: url(../img/card/less.svg);
    background-size: cover;
    margin-top: 5px;
    cursor: pointer;
}

.card-slider-count-more {
    width: 24px;
    height: 24px;
    display: flex;
    background-image: url(../img/card/more.svg);
    background-size: cover;
    margin-top: 5px;
    cursor: pointer;
}

.card-slider-count-num {
    color: var(--light-black, #1A1A1A);
    font-family: Cormorant Unicase;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    display: flex;
    width: 46px;
    height: 41px;
    justify-content: center;
    align-items: center;
}

.card-slider-cart {
    color: #F7F7F7;
    font-family: Cormorant;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    background: var(--light-black, #1A1A1A);
    border: 1px solid var(--btns-color-secondary-stroke-normal-active, #1A1A1A);
    box-sizing: border-box;
    width: 264px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card-slider-cart:hover {
    border: 1px solid var(--btns-color-secondary-stroke-normal-active, #1A1A1A);
    background: var(--btns-color-secondary-bg-normal-hover-disable, #FFF);
    color: var(--btns-color-secondary-txt-secondary, #1A1A1A);
}

.card-series {
    background: var(--light-black, #1A1A1A);
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;
}

.card-series-row {
    display: flex;
    flex-wrap: wrap;
}

.card-series-row .catalog_sub-item {
    border: 0;
}

.card-series-row .catalog_sub-item-title {
    color: #F7F7F7;
}

.card-series-row .catalog_sub-item-add-price {
    color: #F7F7F7;
}

.card-series-row .catalog_sub-item-add-fav {
    background-image: url(../img/card/fav.svg);
}

.card-series-row .catalog_sub-item-add-cart {
    background-image: url(../img/card/cart.svg);
}

.card-seen {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-seen-slider {
    margin-top: 48px;
}

.card-seen-slider .slick-track {
    margin-left: calc(50% - 591px);
    gap: 20px;
    display: flex !important;
}

.card-seen-slider .slick-slide {
    width: 380px;
}

.card-seen-slider .catalog_sub-item {
    max-width: none;
    border: 0;
    padding: 0;
}

/* .card-seen-slider .catalog_sub-item-img-block {
    height: 266px;
} */

@media (max-width: 900px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 56px;
    }

    .header-content {
        height: 100%;
        position: relative;
    }

    .header-menu-btn {
        display: flex;
        width: 24px;
        height: 24px;
        background-image: url(../img/header/burger.svg);
        background-size: cover;
        transition: 0.3s;
    }

    .header-menu-btn_open {
        background-image: url(../img/header/close.svg);
    }

    .header-logo {
        color: var(--dirty-white, #F7F7F7);
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 12px;
    }

    .header-nav {
        display: none;
    }

    .header-add {
        gap: 12px;
        margin-left: auto;
    }

    .header-add-link {
        width: 24px;
        height: 24px;
    }

    .header-add-link_search-block {
        position: static;
    }

    .header-add-link_search_open {
        
    }

    .header-add-link_search-form {
        bottom: 0;
        width: auto;
        z-index: -1;
        left: 16px;
        right: 16px;
        top: auto;
    }

    .header-add-link_search_open ~ .header-add-link_search-form {
        top: auto;
        bottom: -64px;
        left: 16px;
        right: 16px;
        background-color: var(--btns-color-primary-bg-normal, #1A1A1A);
        width: auto;
        transition: 0.3s;
        z-index: 2;
    }

    .header-add-link_search-input {
        /* color: var(--light-black, #1A1A1A); */
        
    }

    .header-add-link_search-input::placeholder {
        /* color: var(--light-black, #1A1A1A); */
    }

    .header-menu {
        left: -100vh;
        transition: 0.3s;
        height: calc(100vh - 56px);
        padding-left: 0;
        position: fixed;
    }
    
    .header-banner {
        background-position: center;
        padding-top: 56px;
    }

    .header-banner-title {
        margin-left: 0;
        max-width: 199px;
        color: var(--dirty-white, #F7F7F7);
        font-family: Forum;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 111.111% */
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    .header-banner-btn {
        width: 100%;
        height: 39px;
        padding: 10px 24px 12px 24px;
        box-sizing: border-box;
    }

    .header-menu_open {
        top: 56px;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        height: calc(100vh - 56px);
        padding-left: 0;
        background: var(--light-black, #1A1A1A);
        overflow-y: scroll;
    }

    .header-menu_open::-webkit-scrollbar {
        display: none;
    }

    .header-menu-content {
        height: 60%;
        opacity: 1;
        flex-direction: column;
        overflow: scroll;
        gap: 0;
        padding-left: 0;
        padding-right: 0;
        column-count: 1;
    }

    .header-menu-col {
        max-width: none;
    }

    .header-menu-block {
        max-width: none;
        border-bottom: 1px solid var(--dirty-white, #F7F7F7);
        max-height: 46px;
        overflow: hidden;
        margin-bottom: 0;
        transition: 0.3s;
    }

    .header-menu-block_active {
        max-height: 385px;
        padding-bottom: 24px;
    }

    .header-menu-block_single {
        margin-bottom: 0;
    }

    .header-menu-block_hidden {
        display: none;
    }

    .header-menu-block-list {
        gap: 10px;
    }

    .header-menu-block-list::-webkit-scrollbar {
        display: none;
    }

    .header-menu-block-list_slide {
        height: 132px;
        margin-right: 0;
    }

    .header-menu-block-title {
        color: #F7F7F7;
        color: var(--dirty-white, #F7F7F7);
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        border-bottom: 0;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-menu-block-title::after {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../img/footer/arrows.svg);
        background-size: cover;
        display: flex;
        transition: 0.3s;
    }

    .header-menu-block_active .header-menu-block-title::after {
        transform: rotate(180deg);
    }

    .header-menu-block-title_dis {
        pointer-events: none;
    }

    .header-menu-block-title_dis::after {
        display: none;
    }

    .header-menu-block-list-item {
        color: #F7F7F7;
        color: var(--dirty-white, #F7F7F7);
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .header-menu-add {
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column-reverse;
        /* position: absolute; */
        /* bottom: 48px; */
        margin-top: 30px;
        margin-bottom: 80px;
    }

    .exhibition-line {
        color: #E2AC22;
        font-family: Oswald;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 120% */
        letter-spacing: 32.4px;
        text-transform: uppercase;
        top: -146px;
    }

    .collection {
        margin-top: 40px;
    }

    .media-title {
        padding-left: 0;
        color: var(--light-black, #1A1A1A);
        font-family: Forum;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 107.143% */
        text-transform: uppercase;
    }

    .media-head-link {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .media-head-link::after {
        content: '';
        width: 20px;
        height: 8px;
        background-image: url(../img/media/arrow_mobile.svg);
        background-repeat: no-repeat;
    }

    .collection {
        margin-bottom: 156px;
    }

    .collection-slider .slick-track {
        margin-left: 16px;
        gap: 16px;
    }

    .collection-slider .slick-slide {
        width: 253px;
        height: 240px;
    }

    .slick-dotted.slick-slider {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .collection-slider-item-link {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        margin-bottom: 12px;
        padding-bottom: 4px;
    }

    .collection-slider-item-link::after {
        width: 20px;
        height: 8px;
        background-image: url(../img/media/arrow_mobile.svg);
        background-repeat: no-repeat;
    }

    .collection-slider-item-img-block {
        height: 158px;
    }

    .collection-slider-item-img {
        height: 100%;
        object-fit: cover;
    }

    .collection-slider-item-desc {
        margin-top: 8px;
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .collection-desc {
        margin-top: 72px;
        gap: 36px;
    }

    .collection-desc-p {
        color: var(--light-black, #1A1A1A);
        text-align: center;
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
    }

    .collection-desc::before {
        left: 0;
        top: -24px;
        width: 24px;
        height: 24px;
    }

    .collection-desc::after {
        right: 0;
        bottom: -24px;
        width: 24px;
        height: 24px;
    }

    .collection-line {
        color: #F00;
        font-family: Oswald;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 120% */
        letter-spacing: 32.4px;
        text-transform: uppercase;
        bottom: -210px;
    }

    .have {
        height: auto;
    }

    .have-content {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    .have-block {
        max-width: none;
        padding-top: 48px;
        height: auto;
        padding-bottom: 24px;
    }

    .have-title {
        padding-left: 0;
        color: var(--dirty-white, #F7F7F7);
        font-family: Forum;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 107.143% */
        text-transform: uppercase;
    }

    .have-desc {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .have-desc-p {
        color: var(--dirty-white, #F7F7F7);
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
        margin: 0;
    }

    .have-gall {
        flex-direction: column;
        width: 100%;
    }

    .have-gall-col {
        width: auto !important;
    }

    .element-animation {
        max-width: none;
        width: 100%;
        height: 200px;
    }

    .media {
        margin-top: 48px;
    }

    .media .container {
        padding-left: 0;
        padding-right: 0;
    }

    .container-lg {
        padding-left: 0;
        padding-right: 0;
    }

    .media-slider_mobile {
        display: flex;
        gap: 16px;
    }

    .media-row {
        margin-top: 24px;
    }

    .media-card {
        margin-top: 0;
        max-width: 253px;
        width: 100%;
        height: 240px;
    }

    .media .slick-track {
        display: flex !important;
    }

    .media .slick-track {
        margin-left: 16px;
        gap: 16px;
    }

    .media .slick-slide {
        width: 253px !important;
        height: 240px;
    }

    .media-card-img-block {
        height: 142px;
        margin-bottom: 12px;
    }

    .media-card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .media-card-info {
        margin-bottom: 4px;
    }

    .media-card-info-date, .media-card-info-time {
        color: var(--secondary-gray, #B8B8B8);
        /* mob/body 12 px */
        font-family: Cormorant;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; /* 125% */
    }

    .media-card-title {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
    }

    .media-card-text {
        margin-top: 4px;
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    /* .media .slick-slide {
        width: 253px;
        h240
    } */

    .media-slider-item {
        display: none;
    }

    .media-slider-item:nth-child(1) {
        display: block;
    }

    .media .media-head {
        margin-left: 16px;
        margin-right: 16px;
    }

    .media_mobile-slider-nav {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .media_mobile__arrows {
        display: none;
    }

    .media .slick-dots {
        max-width: none;
    }

    .gall {
        padding-top: 48px;
        margin-top: 48px;
    }

    .gall-title {
        padding-left: 0;
        color: var(--dirty-white, #F7F7F7);
        font-family: Forum;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 107.143% */
        text-transform: uppercase;
    }

    .gall-head-link {
        color: var(--dirty-white, #F7F7F7);
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .gall-head-link::after {
        width: 20px;
        height: 8px;
        background-image: url(../img/gall/arrow_mobile.svg);
    }

    .gall-row {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }

    .gall-col-block5 {
        transform: translateY(0);
    }

    .slick-dots {
        max-width: none;
    }

    .inst {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .inst .media-title {
        max-width: 196px;
        color: var(--light-black, #1A1A1A);
        font-family: Forum;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 107.143% */
        text-transform: uppercase;
    }

    .inst .media-head-link {
        margin-top: 30px;
    }

    .inst-slider .slick-slide {
        width: 253px;
        height: 240px;
    }

    .inst-slider .slick-track {
        gap: 16px;
    }

    .inst-slider-item {
        max-width: 253px;
        height: 240px;
    }

    .inst-slider .slick-track {
        margin-left: 16px;
    }

    .inst-slider-item-qr {
        padding: 30px 66.5px;
    }

    .inst__arrow_dir_right, .inst__arrow_dir_left {
        display: none !important;
    }

    .footer {
        padding-bottom: 31px;
        padding-top: 31px;
    }

    .footer-row {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .footer-logo {
        display: none;
    }

    .footer-cnt {
        flex-direction: column;
    }

    .footer-block {
        margin-right: 0;
        width: 100%;
        max-width: none !important;
        max-height: 45px;
        overflow: hidden;
        position: relative;
        transition: 0.3s;
    }

    .footer-block_active {
        max-height: 300px;
    }

    .footer-block-title {
        color: var(--dirty-white, #F7F7F7);
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        display: flex;
        width: 100%;
        height: 24px;
        border-bottom: 1px solid var(--dirty-white, #F7F7F7);
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .footer-block-title::after {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../img/footer/arrows.svg);
        display: flex;
        transition: 0.3s;
    }

    .footer-block-list {
        margin-bottom: 24px;
    }

    .footer-block_active .footer-block-title::after {
        transform: rotate(180deg);
    }

    .footer-sub {
        flex-direction: column-reverse;
    }

    .footer-soc {
        margin-bottom: 54px;
        gap: 0;
        width: calc(50% - 12px);
        justify-content: space-between;
    }

    .footer-soc-block {
        gap: 0;
        justify-content: start;
        justify-content: space-between;
    }

    .footer-copy {
        margin-top: 24px;
    }

    .footer-copy-img {
        display: block;
        width: 60px;
        height: 60px;
    }
    
    .footer-copy-a {
        justify-content: space-around;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .catalog {
        padding-top: 80px;
        margin-bottom: 48px;
    }

    .catalog-head-crumbs {
        padding-left: 0;
    }

    .catalog-content {
        margin-top: 24px;
    }

    .catalog-item {
        margin-bottom: 24px;
    }

    .catalog-item .collection-slider-item-img-block {
        height: 200px;
    }

    .catalog .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .pop {
        left: 16px;
        right: 16px;
        width: auto;
    }

    .pop-block {
        padding: 24px;
    }

    .pop-block_enter {
        width: auto;
    }

    .pop-block_reg {
        width: auto;
    }

    .pop-block_forgot {
        width: auto;
    }

    .pop-block_sub {
        width: auto;
    }

    .pop-block_thanks {
        width: auto;
    }

    .pop_close {
        width: 24px;
        height: 24px;
        top: 12px;
        right: 12px;
    }
    .pop-block-title {
        font-size: 20px;
    }

    .pop-block-form {
        margin-top: 0;
    }

    .pop-block-input {
        height: 46px;
        font-size: 14px;
    }

    .pop-block-pass-btn {
        top: 10px;
    }

    .pop-block-add {
        margin-top: 16px;
    }

    .pop-block-submit {
        margin-top: 16px;
        font-size: 14px;
        height: 39px;
    }

    .pop-block-reg-btn {
        margin-top: 8px;
        font-size: 14px;
        height: 39px;
    }

    .reg-block-submit {
        margin-top: 16px;
        font-size: 14px;
        height: 39px;
    }

    .reg-block-reg-btn {
        margin-top: 8px;
        font-size: 14px;
        height: 39px;
    }

    .pop_bg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(26, 26, 26, 0.60);
        width: auto;
        height: auto;
    }

    .pop-block-text {
        margin-top: 16px;
        font-size: 14px;
    }

    .pop-block_thanks-title {
        color: #000;
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
    }

    .pop-block_thanks-text {
        margin-top: 16px;
        padding: 12px 0;
        font-size: 14px;
    }

    .pop-block_thanks-order {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .pop-block_thanks-time-title {
        font-size: 14px;
    }

    .pop-block_thanks-time-day {
        font-size: 14px;
    }

    .pop-block_thanks-sum-title {
        font-size: 14px;
    }

    .pop-block_thanks-sum-num {
        font-size: 14px;
    }

    .catalog-filter {
        box-sizing: border-box;
        margin-bottom: 16px;
        position: relative;
    }

    .catalog-filter-row {
        flex-direction: column;
        width: 100%;
        gap: 8px;
        border-bottom: 1px solid var(--dark-grey, #CBCBCB);
        padding-bottom: 16px;
    }

    .catalog-filter-item {
        max-width: none;
        width: 100%;
    }

    .catalog-filter-title {
        padding: 5px 14px 7px 14px;
        font-size: 14px;
    }

    .catalog-filter-content {
        padding: 8px 14px 0 14px;
        margin-top: 0;
        gap: 8px;
        max-height: 80px;
    }

    .catalog-filter-label {
        font-size: 14px;
    }

    .catalog-filter-input_radio {
        min-width: 18px;
        width: 18px;
        height: 18px;
    }

    .catalog-filter-input_radio::before {
        width: 18px;
        min-width: 18px;
        height: 18px;
    }

    .catalog-filter-input_check {
        width: 18px;
        min-width: 18px;
        height: 18px;
    }

    .catalog-filter-input_check::before {
        width: 18px;
        min-width: 18px;
        height: 18px;
    }

    .catalog-filter-reset {
        position: absolute;
        top: -40px;
        right: 16px;
        font-size: 14px;
    }

    .catalog_sub-row {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        gap: 16px;
        border-bottom: 0;
        margin-bottom: 24px;
    }

    .catalog_sub-item {
        max-width: calc(50% - 8px);
        border: 0;
        padding: 0;
        margin-bottom: 8px;
    }

    .catalog_sub-item:last-child {
        display: none;
    }

    .catalog_sub-item-img-block {
        height: 164px;
    }

    .catalog_sub-item-chip {
        top: 16px;
        left: 16px;
    }

    .catalog_sub-item-chip-item {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; /* 125% */
    }

    .catalog_sub-item-title {
        padding: 0;
        margin-top: 8px;
        text-transform: uppercase;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
    }

    .catalog_sub-item-add {
        padding: 0;
        margin: 0;
        align-items: flex-start;
    }

    .catalog_sub-item-add-price {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant Unicase;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 122.222% */
    }

    .catalog_sub-item-add-fav {
        width: 24px;
        height: 24px;
        background-size: cover;
        margin-right: 12px;
    }

    .catalog_sub-item-add-cart {
        width: 24px;
        height: 24px;
        background-size: cover;
    }

    .catalog_collection-img-block {
        display: none;
    }

    .catalog_collection {
        margin-top: 24px;
        margin-bottom: 48px;

    }

    .catalog_collection-title {
        padding-left: 0;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .catalog_collection-p {
        color: #1A1A1A;
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .catalog_collection_h2 {
        margin-bottom: 24px;
    }

    .catalog-head-crumbs-link {
        font-size: 12px;
    }

    .card {
        padding-top: 80px;
    }

    .card-slider-head {
        display: block;
    }

    .card-slider-vert {
        display: none;
    }

    .card-slider-block {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 48px;
    }

    .card-slider-hor {
        height: auto;
        width: 100vw !important;
        height: 200px !important;
    }

    .card-slider-hor-item {
        width: 100vw !important;
        height: 200px !important;
    }

    .card-slider-title {
        color: var(--light-black, #1A1A1A);
        font-family: Forum;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 107.143% */
        text-transform: uppercase;
        margin-bottom: 8px;
        display: none;
    }

    .card-slider-head-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    .card-slider-price {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        margin-bottom: 0;
        display: none;
    }

    .card-slider-ac {
        color: var(--light-black, #1A1A1A);
        font-family: Cormorant;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; /* 125% */
        position: relative;
        height: fit-content;
        display: none;
    }

    .card-slider-head .card-slider-title, .card-slider-head .card-slider-price, .card-slider-head .card-slider-ac {
        display: flex;
    }

    .card .slick-dotted.slick-slider {
        margin-top: 0;
    }

    .card-slider-content .slick-dotted.slick-slider {
        margin-bottom: 12px;
    }

    .card-slider-desc {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        /* margin-top: 24px; */
    }

    .card-slider-mob {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    .card-slider-mob .card-slider-mat, .card-slider-mob .card-slider-size, .card-slider-mob .card-slider-count-block {
        display: flex;
        
    }

    .card-slider-mat {
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
        display: none;
    }

    .card-slider-size {
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
        display: none;
    }

    .card-slider-text {
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .card-slider-count-block {
        gap: 0;
        display: none;
    }

    .card-slider-count-num {
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        width: 24px;
        height: 24px;
    }

    .card-slider-sub {
        margin-top: 16px;
        padding-top: 16px;
        gap: 12px;
    }

    .card-slider-cart {
        color: #F7F7F7;
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
        height: 42px;
        width: calc(100% - 52px);
    }

    .card-slider-sub .catalog_sub-item-add-fav {
        width: 40px;
        height: 40px;
        margin-right: 0;
    }

    .card-info-title {
        font-family: Cormorant Unicase;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 24px;
    }

    .card-info-nav {
        gap: 16px;
        margin-bottom: 18px;
    }

    .card-info-nav-item {
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .card-info-block-item {
        gap: 8px;
    }

    .card-info-block-p {
        font-family: Cormorant;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
    }

    .card-series {
        margin-top: 48px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .card-series .media-title {
        margin-bottom: 24px;
    }

    .card-series-row {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        justify-content: space-between;
    }

    .card-seen {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .media-head {
        margin-bottom: 24px;
    }

    .card-seen-slider .slick-slide {
        width: 253px;
        height: 240px;
    }

    .card-seen-slider .slick-track {
        gap: 16px;
    }

    .card-seen-slider .catalog_sub-item {
        max-width: 253px;
        height: 240px;
    }

    .card-seen-slider .slick-track {
        margin-left: 16px;
    }

    .card-seen-slider .catalog_sub-item-img-block {
        height: 184px;
    }
}